<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @collection.user.email %>
</p>

<p>
  <b>Boardgame:</b>
  <%= @collection.boardgame.name %>
</p>



<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
