<%= form_for(@meetup) do |f| %>
  <% if @meetup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meetup.errors.count, "error") %> prohibited this meetup from being saved:</h2>

      <ul>
        <% @meetup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :value => "Coolest meetup in the world" %>
  </div>

  <div class="field">
    <%= f.label :meetup_type_id %><br />
    <%= f.select :meetup_type_id, options_for_select(Meetup::MEETUP_TYPE_DESCRIPTIONS.invert(),@meetup.meetup_type_id) %>
  </div>

  <div class="field">
    <%= f.label :invitation_type_id %><br />
    <%= f.select :invitation_type_id, options_for_select(Meetup::INVITATION_TYPE_DESCRIPTIONS.invert(), @meetup.invitation_type_id) %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
