<p id="notice"><%= notice %></p>

<p>
  <b>Name</b>
  <%= @meetup.name %>
</p>

<p>
  <b>Host User</b>
  <%= @meetup.host_user.email unless @meetup.host_user.nil? %>
</p>

<p>
  <b>Meetup type:</b>
  <%= @meetup.meetup_type_description %>
</p>

<p>
  <b>Invitation type:</b>
  <%= @meetup.invitation_type_description %>
</p>

<h1>Proposing some boardgames</h1>
<div id="boardgames_area">
  <%= render 'boardgames_area' %>
</div>

<h1>Proposing some timings</h1>
<div id="timings_area">
  <%= render 'timings_area' %>
</div>

<h1>Proposing some venues</h1>
<div id="venues_area">
  <%= render 'venues_area' %>
</div>

<%= link_to 'Edit', edit_meetup_path(@meetup) %> |
<%= link_to 'Back', meetups_path %>
