<%= form_for(@available_boardgame) do |f| %>
  <% if @available_boardgame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@available_boardgame.errors.count, "error") %> prohibited this available_boardgame from being saved:</h2>

      <ul>
      <% @available_boardgame.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :boardgame_id %><br />
    <%= f.select :boardgame_id, options_from_collection_for_select(@boardgames, "id", "name") %>
  </div>
<%= f.hidden_field :meetup_id, :value => @available_boardgame.meetup_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
