<%= form_for(@available_boardgame) do |f| %>
  <% if @available_boardgame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@available_boardgame.errors.count, "error") %> prohibited this available_boardgame from being saved:</h2>

      <ul>
      <% @available_boardgame.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <ul data-role="listview" id="selected_boardgames">
      <% @owned_boardgames.each do |owned_boardgame| %>
        <%
          selected = @selected_boardgame_ids.include? owned_boardgame.id
          icon = selected ? "check" : "delete"
          link = selected ? "delete-game" : "add-game"
        %>
	<li data-icon="<%= icon %>" data-theme="c">
          <a href="#" data-action="<%= link %>" data-boardgame-id="<%= owned_boardgame.id  %>">
            <img src="<%= owned_boardgame.img_url %>" />
            <h3><%= owned_boardgame.name %></h3>
          </a>
        </li>
      <% end %>
    </ul>

  <%= f.hidden_field :meetup_id, :value => @available_boardgame.meetup_id %>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<script type="text/javascript">
  function GameList ($list){
    var instance = this;

    this.toggle = function () {
      var $item = $(this);
      if ($item.attr('data-action') === 'add-game') {
        var icon_to_change_to = 'check',
          class_to_change_to = 'ui-icon-check',
          class_to_change_from = 'ui-icon-delete',
          data_action = 'delete-game';
      } else {
        var icon_to_change_to = 'delete',
          class_to_change_to = 'ui-icon-delete',
          class_to_change_from = 'ui-icon-check',
          data_action = 'add-game';
      }
      $item.attr('data-icon', icon_to_change_to)
        .attr('data-action', data_action)
        .closest('li')
          .attr('data-icon', icon_to_change_to)
        .find('.ui-icon')
          .removeClass(class_to_change_from)
          .addClass(class_to_change_to);
    }
    this.addItem = function (id, name, img_url) {
      if ($list.find('a[data-boardgame-id="' + id + '"]').length === 0) {
        $list.append('<li data-icon="check" data-theme="c">' +
          '<a href="#" data-action="delete-game" data-boardgame-id="' + id + '">' +
            '<img src="' + img_url + '" />' +
            '<h3>' + name + '</h3>' +
          '</a></li>');
        $list.listview('refresh');
      }
    }
    this.toSelect = function () {
      var boardgame_select = $('<select id="boardgame_id_select" name="available_boardgame[boardgame_id][]" style="display:none" data-role="none" multiple="multiple"></select>');
      $('#boardgame_id_select').remove();
      $('li a[data-action="delete-game"]', $list).each(function(index, elt) {
        var id = $(this).attr('data-boardgame-id');
        boardgame_select
          .append('<option selected="selected" value="' + id + '">' + id + '</option>');

      });
      return boardgame_select;
    }

    $list.delegate('a[data-action="add-game"], a[data-action="delete-game"]', 'click', instance.toggle)

  };
  $(function (){
    var game_list = new GameList($('#selected_boardgames'));
    $('#new_available_boardgame').submit(function(e){
      var form = $(this);          
      form.append(game_list.toSelect());
    });
    $('#available-boardgames-search-area').delegate('.search-boardgame-add', 'click', function(){
      var row = $(this).closest('.search-boardgame-row'),
      name = row.find('.search-boardgame-name').text(),
        id = row.attr('data-boardgame-id'),
        img_url = row.attr('data-boardgame-img');
      game_list.addItem(id, name, img_url);
    });
    $.each($('.pagination a'), function(){
      var href = $(this).attr('href'),
        search_term = $('#search_term').val();
      $(this).attr('data-remote', 'true')
        .attr('data-ajax', 'false')
        .attr('href', href + '&search_term=' + $('<div/>').text(search_term).html());
    });

  });
</script>

<div data-role="collapsible" data-content-theme="c" id="available-boardgames-search-area">
  <h3>Add a game outside of your collection</h3>
  <div id="available-boardgames-search-form">
    <%= render 'search' %>
  </div>
</div>