<h1>Listing available_boardgames</h1>

<table>
  <tr>
    <th>Boardgame</th>
    <th>Meetup</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @available_boardgames.each do |available_boardgame| %>
  <tr>
    <td><%= available_boardgame.boardgame.name unless available_boardgame.boardgame.nil? %></td>
    <td><%= available_boardgame.meetup.name unless available_boardgame.meetup.nil? %></td>
    <td><%= link_to 'Show', available_boardgame %></td>
    <td><%= link_to 'Edit', edit_available_boardgame_path(available_boardgame) %></td>
    <td><%= link_to 'Destroy', available_boardgame, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Available boardgame', new_available_boardgame_path %>
