<p id="notice"><%= notice %></p>

<p>
  <b>Meetup:</b>
  <%= @available_boardgame.meetup.name unless @available_boardgame.meetup.nil? %>
</p>
<p>
  <b>Boardgame:</b>
  <%= @available_boardgame.boardgame.name %>
</p>


<%= link_to 'Edit', edit_available_boardgame_path(@available_boardgame) %> |
<%= link_to 'Back', available_boardgames_path %>
