<h1>BggScraper#index</h1>

<%= form_tag({:action => :scrape_game},{:method => "post", 'data-ajax' => "false"}) do %>

  <div>
    <%= label_tag :pages, "Pages to scrape (100 per page)" %>
    <%= text_field_tag :pages, 10 %>
  </div>
  <div class="actions">
    <%= submit_tag "Scrape games!" %>
  </div>
<% end %>

<%= form_tag({:action => :get_collection},{:method => "post", 'data-ajax' => "false"}) do %>
  <div>
    <%= label_tag :username, "User"  %>
    <%= text_field_tag :username   %>
  </div>

  <div class="actions">
    <%= submit_tag "Find collections" %>
  </div>
<% end %>

<h1>Listing scraped boardgames</h1>

<table>
  <tr>
    <th>Boardgame ID</th>
    <th>BGG ID</th>
    <th>Name</th>
    <th>is_standalone</th>
    <th>Parent Boardgame ID</th>
  </tr>

<% @boardgames.each do |boardgame| %>
  <tr>
    <td><%= boardgame.id %></td>
    <td><%= boardgame.bgg_id %></td>
    <td><a href=<%= "http://boardgamegeek.com/boardgame/"+ boardgame.bgg_id.to_s %>><%= boardgame.name %></a></td>
    <td><%= boardgame.is_standalone %></td>
    <td><%= boardgame.parent.name unless boardgame.parent.nil? %></td>
    
  </tr>
<% end %>

</table>
<table>
<% @collection_items.each do |collection_item| %>
  <tr>
    <td><%= collection_item.id %></td>
    <td>
      <a href=<%= "http://boardgamegeek.com/boardgame/#{collection_item.boardgame.bgg_id}"%> >
        <%= collection_item.boardgame.name %>
      </a>
    </td>
    <td><%= collection_item.user.email %></td>

  </tr>
<% end %>
</table>

